Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.kdev4
.idea
.vs
CMakeLists.txt
*.kdev4
*.pro
*.code-workspace
*.workspace
*.txt
*.pri
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
build
*_BuiltData.uasset
